/***************** RESET  **********************/

body {
	font-family: 'Muli', 'Helvetica', sans-serif;
	font-size: 14px;
	background-position: 50% 50%;
	background-repeat: repeat;
  background: linear-gradient(-45deg, #e96759, #e96759);
}

a {
	text-decoration: none !important;
}

ol, ul {
	list-style: none;
	padding: 0;
	margin-bottom: 0;
}

p {
	margin: 0;
}

/***************** HEADER  **********************/

header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px 0;
	padding: 15px
}

header > div {
	width: 150px;
	height: 150px;
	background: #fff;
	object-fit: cover;
	border-radius: 50%;
  box-shadow: 0px 5px 20px -5px rgba(0,0,0,0.3)
}

header img {
	width: 100%;
	border-radius: 50%;
}


/***************** MAIN  **********************/

main > .grid-container {
	margin: 20px;
}

main ul {
	display: grid;
	gap: 25px;
	grid-template-columns: repeat(2, 1fr);
}

main li > div {
	justify-self: center;
	align-self: center;
	border-radius: 20px;
	box-shadow: 0px 5px 20px -5px rgba(0,0,0,0.3);
	padding: 15px;
	background: #fff;
	width: 110px;
	height: 110px;
	margin: 0 auto;
}

main li > p {
	text-align: center;
	margin-top: 5px;
	font-size: 13px;
line-height: normal;
}

main li a {
	width: 100%;
	height: 100%;
}

main li img {
	border-radius: 25px;
	width: 80px;
	height: 80px;
	object-fit: contain;
}

/***************** MODAL  **********************/


.modal form {
	margin-bottom: 0;
}

.modal form input {
	padding: 0 10px;
	height: 40px;
	margin-bottom: 5px;
}

.modal form span {
	display: none;
	font-size: 12px;
	color: #dc3545;
	font-weight: bold;
}


/***************** FOOTER  **********************/

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	padding: 15px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer a {
	font-weight: bold;
}


/***************** BREAKPOINTS  **********************/

@media screen and (max-width : 1920px) {
	.only-mobile {
		visibility:hidden;
		padding-right: 30px;
	}

	hr {
		visibility:hidden;
	}

	.footer {
		padding: 20px;
	}
}

@media screen and (max-width: 991px) {
	.img-slider {
		height: 300px;
	}

	.carousel-caption > h1 {
		font-size: 28px
	}

	.store-text {
		text-align: left
	}

	.modal-content {
    width: 100%
  }
}

@media screen and (max-width: 506px) {
	.only-mobile {
		visibility:visible;
		padding-right: 30px;
	 }
	 
 	hr {
		visibility:visible;
	}

	.parallax { 
		/* Set a specific height */
		height: 400px; 
	}

	.parallax:before { 
		/* Set a specific height */
		height: 400px; 
		position: fixed;
	}
	
	.parallax > .parallax-text {
		padding: 100px 50px;
	}
}

